button {
  background-color: #701b30;
  color: #fff;
  font-weight: bold;
  min-width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  background-color: rgb(112, 27, 48, 0.8);
  cursor: pointer;
}
